<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="home" data-toggle="collapse" data-target=".navbar-collapse.in">Kailun Yang</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="publication" data-toggle="collapse" data-target=".navbar-collapse.in">Publication</a></li>
        <li ui-sref-active="active"><a ui-sref="contact" data-toggle="collapse" data-target=".navbar-collapse.in">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
