<div class="jumbotron">
  <!-- Main component for a primary marketing message or call to action -->
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <p style="font-size: 80%;"><b style="font-size: 150%;">Yang, K.</b>, Wang, K., Cheng, R., Hu, W., Huang, X., & Bai, J. (2017).</p>
      <p>--Detecting Traversable Area and Water Hazards for the Visually Impaired with a pRGB-D Sensor. Sensors, 17(8), 1890.</p>
      </br>
      <p style="font-size: 80%;">Huang, X., Bai, J., Wang, K., Liu, Q., Luo, Y., <b style="font-size: 150%;">Yang, K.</b>, & Zhang, X. (2017).</p>
      <p>--Target enhanced 3D reconstruction based on polarization-coded structured light. Optics Express, 25(2), 1173-1184.</p>
      </br>
      <p style="font-size: 80%;">Zhao, X., Wang, K., <b style="font-size: 150%;">Yang, K.</b>, & Hu, W. (2017, February).</p>
      <p>--Unconstrained face detection and recognition based on RGB-D camera for the visually impaired. In Eighth International Conference on Graphic and Image Processing (pp. 1022509-1022509). International Society for Optics and Photonics.</p>
      </br>
      <p style="font-size: 80%;"><b style="font-size: 150%;">Yang, K.</b>, Wang, K., Hu, W., & Bai, J. (2016).</p>
      <p>--Expanding the Detection of Traversable Area with RealSense for the Visually Impaired. Sensors, 16(11), 1954.</p>
      </br>
      <p style="font-size: 80%;">Cheng, R., Wang, K., <b style="font-size: 150%;">Yang, K.</b>, & Zhao, X. (2015).</p>
      <p>--A ground and obstacle detection algorithm for the visually impaired.</p>
      </br>
      <p style="font-size: 80%;"><b style="font-size: 150%;">Yang, K.</b>, Wang, K., Cheng, R., & Zhu, X. (2015).</p>
      <p>--A new approach of point cloud processing and scene segmentation for guiding the visually impaired.</p>
    </div>
  </div>
</div> <!-- /container -->
