<div class="jumbotron">
  <!-- Main component for a primary marketing message or call to action -->
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <p style="font-size: 80%;"><b style="font-size: 150%;">Yang, K.</b>, Wang, K., Zhao. X., Cheng, R., Bai, J., Yang, Y. & Liu, D. (2017).</p>
      <p><a style="color: white" href="https://content.iospress.com/articles/journal-of-ambient-intelligence-and-smart-environments/ais459">IR stereo RealSense: decreasing minimum range of navigational assistance for visually impaired individuals. Journal of Ambient Intelligent and Smart Environments, vol.9, no.6, pp.743-755.</a></p>
      </br>
      <p style="font-size: 80%;">Cheng, R., Wang, K., <b style="font-size: 150%;">Yang, K.</b>, Long, N., Hu, W., Chen, H., Bai, J., & Liu, D. (2017).</p>
      <p><a style="color: white" href="https://www.spiedigitallibrary.org/journals/Journal-of-Electronic-Imaging/volume-26/issue-5/053025/Crosswalk-navigation-for-people-with-visual-impairments-on-a-wearable/10.1117/1.JEI.26.5.053025.pdf?SSO=1">Crosswalk navigation for people with visual impairments on a wearable device. Journal of Elcetronic Imaging, 26(5).</a></p>
      </br>
      <p style="font-size: 80%;">Cheng, R., Wang, K., <b style="font-size: 150%;">Yang, K.</b>, Long, N. & Bai, J. (2017).</p>
      <p><a style="color: white">Real-time Pedestrian Crossing Lights Detection Algorithm for the Visually Impaired. Multimedia Tools and Applications, in submission.</a></p>
      </br>
      <p style="font-size: 80%;"><b style="font-size: 150%;">Yang, K.</b>, Wang, K., Cheng, R., Hu, W., Huang, X., & Bai, J. (2017).</p>
      <p><a style="color: white" href="http://www.mdpi.com/1424-8220/17/8/1890">Detecting Traversable Area and Water Hazards for the Visually Impaired with a pRGB-D Sensor. Sensors, 17(8), 1890.</a></p>
      </br>
      <p style="font-size: 80%;">Huang, X., Bai, J., Wang, K., Liu, Q., Luo, Y., <b style="font-size: 150%;">Yang, K.</b>, & Zhang, X. (2017).</p>
      <p><a style="color: white" href="https://www.osapublishing.org/oe/abstract.cfm?uri=oe-25-2-1173">Target enhanced 3D reconstruction based on polarization-coded structured light. Optics Express, 25(2), 1173-1184.</a></p>
      </br>
      <p style="font-size: 80%;">Zhao, X., Wang, K., <b style="font-size: 150%;">Yang, K.</b>, & Hu, W. (2017, February).</p>
      <p><a style="color: white" href="https://www.spiedigitallibrary.org/conference-proceedings-of-spie/10225/1/Unconstrained-face-detection-and-recognition-based-on-RGB-D-camera/10.1117/12.2266122.full">Unconstrained face detection and recognition based on RGB-D camera for the visually impaired. In Eighth International Conference on Graphic and Image Processing (pp. 1022509-1022509). International Society for Optics and Photonics.</a></p>
      </br>
      <p style="font-size: 80%;"><b style="font-size: 150%;">Yang, K.</b>, Wang, K., Hu, W., & Bai, J. (2016).</p>
      <p><a style="color: white" href="http://www.mdpi.com/1424-8220/16/11/1954/html">Expanding the Detection of Traversable Area with RealSense for the Visually Impaired. Sensors, 16(11), 1954.</a></p>
      </br>
       <p style="font-size: 80%;">Cheng, R., Wang, K., <b style="font-size: 150%;">Yang, K.</b>, & Zhao, X. (2015).</p>
      <p><a style="color: white" href="http://ieeexplore.ieee.org/document/7450353/">A ground and obstacle detection algorithm for the visually impaired.Iet International Conference on Biomedical Image and Signal Processing. IET, 2016: 1-6.</a></p>
      </br>
      <p style="font-size: 80%;"><b style="font-size: 150%;">Yang, K.</b>, Wang, K., Cheng, R., & Zhu, X. (2015).</p>
      <p><a style="color: white" href="http://ieeexplore.ieee.org/document/7450354/">A new approach of point cloud processing and scene segmentation for guiding the visually impaired. Iet International Conference on Biomedical Image and Signal Processing. IET, 2016: 1-6.</a></p>
    </div>
  </div>
</div> <!-- /container -->
