<div class="jumbotron">
  <!-- Main component for a primary marketing message or call to action -->
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <p style="font-size: 80%;"><b style="font-size: 150%;">Yang, K.</b>, Wang, K., Cheng, R., Hu, W., Huang, X., & Bai, J. (2017).</p>
      <p><a style="color: white" href="http://www.mdpi.com/1424-8220/17/8/1890">Detecting Traversable Area and Water Hazards for the Visually Impaired with a pRGB-D Sensor. Sensors, 17(8), 1890.</a></p>
      </br>
      <p style="font-size: 80%;">Huang, X., Bai, J., Wang, K., Liu, Q., Luo, Y., <b style="font-size: 150%;">Yang, K.</b>, & Zhang, X. (2017).</p>
      <p><a style="color: white" href="https://www.osapublishing.org/oe/abstract.cfm?uri=oe-25-2-1173">Target enhanced 3D reconstruction based on polarization-coded structured light. Optics Express, 25(2), 1173-1184.</a></p>
      </br>
      <p style="font-size: 80%;">Zhao, X., Wang, K., <b style="font-size: 150%;">Yang, K.</b>, & Hu, W. (2017, February).</p>
      <p><a style="color: white" href="https://www.spiedigitallibrary.org/conference-proceedings-of-spie/10225/1/Unconstrained-face-detection-and-recognition-based-on-RGB-D-camera/10.1117/12.2266122.full">Unconstrained face detection and recognition based on RGB-D camera for the visually impaired. In Eighth International Conference on Graphic and Image Processing (pp. 1022509-1022509). International Society for Optics and Photonics.</a></p>
      </br>
      <p style="font-size: 80%;"><b style="font-size: 150%;">Yang, K.</b>, Wang, K., Hu, W., & Bai, J. (2016).</p>
      <p><a style="color: white" href="http://www.mdpi.com/1424-8220/16/11/1954/html">Expanding the Detection of Traversable Area with RealSense for the Visually Impaired. Sensors, 16(11), 1954.</a></p>
      </br>
      <p style="font-size: 80%;">Cheng, R., Wang, K., <b style="font-size: 150%;">Yang, K.</b>, & Zhao, X. (2015).</p>
      <p><a style="color: white" href="http://ieeexplore.ieee.org/document/7450353/">A ground and obstacle detection algorithm for the visually impaired.</a></p>
      </br>
      <p style="font-size: 80%;"><b style="font-size: 150%;">Yang, K.</b>, Wang, K., Cheng, R., & Zhu, X. (2015).</p>
      <p><a style="color: white" href="http://ieeexplore.ieee.org/document/7450354/">A new approach of point cloud processing and scene segmentation for guiding the visually impaired.</a></p>
    </div>
  </div>
</div> <!-- /container -->
