<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-circle" src="/img/profile.png" alt="">
        <div class="intro-text">
          <span class="name">Kailun Yang</span>
          <hr class="star-light">
        </div>
        <div class="col-lg-8 col-lg-offset-2">
          <p>
            Since 2014, I’m a Ph.D. student in <a style="color: LIGHTSALMON" href="http://opt.zju.edu.cn/">College of Optical Science and Engineering</a> at <a style="color: LIGHTSALMON" href="http://www.zju.edu.cn/">Zhejiang University</a> with the major in Instrument and Meter Engineering. I received the B.S. degree in Measurement and Control Technology and Instrument from Beijing Institute of Technology and the dual degree in Economics from Peking University.
          </p>
          <p>
            Currently I’m a joint training Ph.D. student in <a style="color: LIGHTSALMON" href="http://wangkaiwei.org/">Wangkaiwei Team</a> working with Dr. Kaiwei Wang and <a style="color: LIGHTSALMON" href="http://person.zju.edu.cn/test/0.html">Dr. Jian Bai</a> at Zhejiang University, and <a style="color: LIGHTSALMON" href="https://www.robesafe.com/">Robesafe research group</a> at University of Alcalá working with <a style="color: LIGHTSALMON" href="http://www.robesafe.es/personal/bergasa/">Dr. Luis Miguel Bergasa</a>. Since 2016, I’ve been appointed as Chief Technology Officer at <a style="color: LIGHTSALMON" href="http://krvision.cn/">Hangzhou KR-VISION Technology Co., Ltd</a>.
          </p>
          <p>
            I’m interested in computer vision technology for the visually impaired. My main research over the past few years has been on stereo vision, pRGB-D sensor, sensor fusion, traversability awareness, obstacle avoidance and scene segmentation.
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
