<div class="jumbotron">
  <!-- Main component for a primary marketing message or call to action -->
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Email:</h2>
      <p><a style="color: white;" href="mailto:elnino9ykl@sina.com">elnino9ykl@sina.com</a></p>
      <p><a style="color: white;" href="mailto:elnino@zju.edu.cn">elnino@zju.edu.cn</a></p>
      <p><a style="color: white;" href="mailto:kailun.yang@krvision.cn">kailun.yang@krvision.cn</a></p>
    </div>
  </div>
</div> <!-- /jumbotron -->
